.env
render/__pycache__/*
render/themes/__pycache__/*
dao/__pycache__
__pycache__/*
prices.txt
narga
run.sh
bin/*
lib/*
lib64
lib64/*
logs/*
out.logs
pyvenv.cfg
update
icon.png
s_icon.png
render.svg
render/*.png
*.png
